<%= javascript_pack_tag 'hello_vue' %>
<%= stylesheet_pack_tag 'hello_vue' %>
<h1>Hello</h1>
<div id='hello'>
{{message}}
  <a-button type="primary" v-on:click="test">Hello</a-button>

  <app></app>
</div>
